<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jiyun.apandatv">

    <!-- Banner -->
    <uses-permission android:name="android.permission.INTERNET" />
    //联网
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    //读取外置存储卡
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="apandatv.app.App"
        android:allowBackup="true"
        android:icon="@drawable/logo_ipnda"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="apandatv.ui.module.version.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="apandatv.activity.MainActivity" />
        <activity android:name="apandatv.base.BaseActivity" />
        <activity android:name="apandatv.ui.module.mine.activity.WebActivity"/>
        <activity android:name="apandatv.ui.module.interactive.InteractiveActivity"></activity>
        <activity android:name="apandatv.activity.reginstered.RegisteredActivity" />
        <activity android:name="apandatv.ui.module.mine.activity.PersonalcenterActivity"/>
        <activity android:name="apandatv.ui.module.mine.activity.HistroyActivity"/>
        <activity android:name="apandatv.ui.module.mine.activity.CollectionActivity"/>

        <activity android:name="apandatv.ui.module.mine.activity.reginsterefragment.registered.RegisteredActivity" />
        <activity android:name="apandatv.ui.module.mine.activity.LoginActivity"></activity>
        <activity android:name="apandatv.ui.module.mine.activity.PersonalcenterActivity"></activity>
        <activity android:name="apandatv.ui.module.mine.activity.SetupActivity"></activity>
        <activity android:name="apandatv.ui.module.mine.activity.PersonAboutActivity"></activity>
        <activity android:name="apandatv.ui.module.mine.activity.PersonalinformationActivity" />
        <activity android:name="apandatv.ui.module.mine.activity.PersonalinformationActivity"></activity>
        <activity android:name="apandatv.ui.module.mine.activity.PersonalNickNameActivity"></activity>
        <activity android:name="apandatv.ui.module.mine.activity.forgetpassword.ForgetPasswordActivity"></activity>

    </application>

</manifest>